<div class="container" style="margin-top: 10rem; background-color: beige; margin-bottom: 2rem">
  <div class="vh-80">
    <h1 style="text-align: center; padding-top: 20px">DANH MỤC SẢN PHẨM</h1>
    <div class="packages-content">
      <div class="row ">
        <div class="col-4 col-md-4 col-sm-6 filtr-container mt-5"  *ngFor="let item of category">
          <div class="single-package-item filtr-item" style="text-align: center">
            <img style="height: 300px;width: 370px"
                 [src]="item?.picture"
                 alt="package-place">
            <div class="single-package-item-txt">
              <h4 class="mt-3">{{item?.nameCategory}} </h4>
              <div class="packages-review">
                <p>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </p>
              </div>
              <div class="about-btn">
                <a class="btn btn-success mb-3" [routerLink]="['/product/category/list-by-category', item.idCategory]" >
                  Xem sản phẩm
                </a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
