<div class="packages" style="background-color:beige" >
  <div class="container">
    <div>
      <h1 style="text-align: center; padding-top: 20px">DANH SÁCH SẢN PHẨM</h1>
      <div class="packages-content">
        <div class="row">
          <div class="col-4 col-md-4 col-sm-6 filtr-container" *ngFor="let item of pageProduct">
            <div class="single-package-item filtr-item" style="position: relative">
              <div style="position: absolute;right: 7%; top: 3%; z-index: 1" *ngIf="role == 'ROLE_ADMIN'">

                <!-- Button trigger modal   XÓA SẢN PHẨM-->
                <button type="button" class="btn btn-danger" (click)="getItem(item.idProduct,item.nameProduct)"
                        data-bs-toggle="modal" data-bs-target="#exampleModal"
                        style="border-radius: 50%">
                  <i class="fas fa-times"></i>
                </button>
              </div>

              <a [routerLink]="['/home/detail', item.idProduct]">
                <img style="height: 350px;width: 400px; border-radius: 10px" [src]="item.image"
                     alt="package-place"/>
              </a>

              <div class="single-package-item-txt" style="text-align: center">
                <h4 class="mt-3">{{item.nameProduct}}</h4>
                <p>Giá: <span> {{item.price | number }}đ</span></p>
                <div class="btn" *ngIf="role != 'ROLE_ADMIN'">
                  <button class="btn btn-success" type="button">
<!--                          (click)="addToCart(item.idProduct, item.image, item.nameProduct, item.price)">-->
                    Thêm vào giỏ hàng
                  </button>
                </div>

                <div class="btn" *ngIf="role == 'ROLE_ADMIN'">
                  <button class="btn btn-primary" type="button">
                    Chỉnh sửa
                  </button>
                </div>
              </div>

            </div>
          </div>

          <div class="mb-4 mt-2 text-center">
            <a style="cursor: pointer; color: #151414; text-decoration: none" type="button"
               (click)="searchProductByCategory(size+3)" *ngIf="!last ">
              Xem thêm
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-caret-down" viewBox="0 0 16 16">
                <path
                  d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
              </svg>
            </a>
            <a style="cursor: pointer; color: #151414; text-decoration: none" type="button"
               (click)="searchProductByCategory(size=3)" *ngIf="last && pageProduct.length > 3">
              Ẩn bớt
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-caret-up" viewBox="0 0 16 16">
                <path
                  d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xác nhận lại</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa sản phẩm <b class="text-uppercase">{{name}}</b> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProduct(id)">Xóa</button>
      </div>
    </div>
  </div>
</div>
