<div style="margin-bottom: 50px;margin-top: 9rem; border-radius: 50px" class="container">
  <div class="card" style=" background-color:#e8d8c6 ">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img [src]="productt.image" style="border-radius: 30px"/>
            </div>
          </div>

        </div>
        <div class="details col-md-6 mt-5">
          <h3 class="product-title">{{productt.nameProduct}}</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
            </div>
            <span class="review-no">41 đánh giá</span>
          </div>
          <p class="product-description">{{productt.description}}</p>
          <h6 class="price">Giá: <span class="size" title="small">{{productt.price | number}}đ</span></h6>
          <h6 class="sizes">Trọng lượng:
            <span class="size" title="small">500g</span>
          </h6>
          <h6 class="colors">Số lượng:
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex size" title="small">
                <button class="btn btn-link px-2" style="display: inline;width: 40px; margin-right: 5px"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                  <i class="fas fa-minus"></i>
                </button>

                <input id="form2" min="1" name="quantity" #qty type="number" value="1"
                       class="form-control form-control-md" style="width: 50px"/>

                <button class="btn btn-link px-2 " style="display: inline; width: 40px; margin-left: 5px"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                  <i class="fas fa-plus"></i>
                </button>
              </div>
          </h6>
          <h5 class="colors">
            <a style="width: 100%;" class="add-to-cart btn" type="button"  (click)="addToCart(productt.idProduct, productt.nameProduct, qty.value)">Thêm vào giỏ hàng</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="pt-5" style="text-align: center">
      <h6 class="mb-0"><a routerLink="/home" class="text-body btn btn-warning">Quay lại trang chủ</a></h6>
    </div>
  </div>

</div>
