.line {
  height: 3px;
  width: 100%;
  background-position-x: -30px;
  background-size: 116px 3px;
  background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
}

.padding {
  padding: 28px 30px 24px;
}

.paddingg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.address {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  color: #ee4d2d;
  margin-bottom: 20px;
  text-transform: capitalize;
  flex: 1 1 auto;
}
.address .icon {
  display: flex;
  margin-right: 9px;
}

.Jw2Sc- {
  display: flex;
  align-items: center;
}

.NYnMjH {
  display: flex;
  align-items: center;
  font-size: 1rem;
  word-break: break-word;
}

._3WkjWD {
  color: #4080ee;
  text-transform: capitalize;
  margin-left: 2.5rem;
  cursor: pointer;
}
